$clr-error: #ec7c9a;
$clr-bg: #fbfbfb;
$clr-dark: #505c68;
$clr-darker: #333a42;
$clr-medium: #5b6a7d;
$clr-pink: #f0c0cd;
$clr-lightgrey: #eaedf0;

* {
  font-family: Montserrat;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  height: 100vh;
  min-height: 100%;
  background: $clr-bg;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5em;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5em;
}

table:not(.results-table) {
  width: 600px;
  border-spacing: 0px;
  table-layout: fixed;
  color: $clr-lightgrey;

  tr {
    height: 75px;
    // background: #fff;

    &:first-child td:first-child {
      border-radius: 15px 15px 0 0;
      -webkit-border-radius: 15px 15px 0 0;
      -moz-border-radius: 15px 15px 0 0;
      -ms-border-radius: 15px 15px 0 0;
      -o-border-radius: 15px 15px 0 0;
    }

    &:last-child td:first-child {
      border-radius: 0 0 15px 15px;
      -webkit-border-radius: 0 0 15px 15px;
      -moz-border-radius: 0 0 15px 15px;
      -ms-border-radius: 0 0 15px 15px;
      -o-border-radius: 0 0 15px 15px;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:last-child {
      height: 50px;
    }

    &#error {
      border: none;
    }

    td {
      background: $clr-medium;
      position: relative;
      border: 1px solid $clr-lightgrey;
      font-size: 14pt;
      text-align: center;
      user-select: none;
      transition: background 0.1s;
      -webkit-transition: background 0.1s;
      -moz-transition: background 0.1s;
      -ms-transition: background 0.1s;
      -o-transition: background 0.1s;

      &.number {
        font-size: 12pt;
        color: $clr-pink;
      }

      &.number:hover {
        cursor: pointer;
        background: $clr-darker;
      }

      &:not(:last-child) {
        border-right: none;
      }

      &#title,
      &#submit:hover {
        background: $clr-darker;
      }

      &#value,
      &#submit {
        background: $clr-dark;
      }
    }

    &:not(:last-child) td {
      border-bottom: 0;
    }
  }
}

#checkout {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background: $clr-dark;

  & > * {
    flex-basis: 100%;
    color: $clr-lightgrey;
  }

  * {
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
  }

  .info {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $clr-lightgrey;
    color: #fff;
    background: $clr-darker;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  h2 {
    text-align: center;
    font-weight: normal;
    padding: 1em;
    background: $clr-dark;
  }

  .selection {
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid $clr-lightgrey;
    background: $clr-medium;

    &:first-of-type {
      margin-top: 0;
      border-top: 1px solid $clr-lightgrey;
    }

    &.selected {
      background: $clr-lightgrey;
      color: $clr-darker;
    }

    &:hover:not(.selected) {
      background-color: $clr-darker;
    }

    img {
      width: 30px;
      height: 30px;
    }

    p {
      flex: 1;
      display: flex;
      justify-content: space-between;
      padding: 0em 1em;
      transition: color 0.2s;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -ms-transition: color 0.2s;
      -o-transition: color 0.2s;
    }
  }

  .buttons {
    margin: 2em 3em;
    display: flex;

    .btn:first-child {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    .btn:last-child {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    .btn {
      user-select: none;
      cursor: pointer;
      padding: 1em;
      border: 1px solid $clr-lightgrey;
      box-shadow: 0 0 5px 1px $clr-darker;
      text-align: center;

      &.disabled {
        cursor: not-allowed;
        background: $clr-medium;

        &:hover {
          background: $clr-medium;
        }
      }
    }
  }

  .btn-confirm {
    flex-basis: 70%;
    background: $clr-dark;

    &:hover {
      background: $clr-darker;
    }
  }

  .btn-cancel {
    flex-basis: 30%;
    background: $clr-error;
    color: $clr-bg;
  }
}

div#error {
  display: flex;
  justify-content: center;
  align-items: center;
}

#error {
  position: relative;
  height: 0px;
  background: #fff !important;
  color: $clr-error;
  text-align: center;
  transition: height 0.1s;
  -webkit-transition: height 0.1s;
  -moz-transition: height 0.1s;
  -ms-transition: height 0.1s;
  -o-transition: height 0.1s;

  td {
    background: inherit;
  }
}

.results {
  width: 100%;
  display: flex;
  justify-content: center;

  table.results-table {
    min-width: 600px;
    border-spacing: 0px;
    table-layout: fixed;

    tr {
      height: 50px;

      &:nth-child(even) {
        background: $clr-dark;
      }

      &:nth-child(odd) {
        background: $clr-medium;
      }

      td {
        font-size: 10pt;
        color: $clr-lightgrey;
        padding: 0.5em;
        background: inherit;
        text-align: center;

        &:not(:last-of-type) {
          border-right: 1px solid $clr-lightgrey;
        }
      }

      &:first-of-type {
        td {
          &:first-of-type {
            border-top-left-radius: 10px;
          }
          &:last-of-type {
            border-top-right-radius: 10px;
          }
        }
      }

      &:last-of-type {
        td {
          &:first-of-type {
            border-bottom-left-radius: 10px;
          }
          &:last-of-type {
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: $clr-medium;
  padding: 1em;
}

#error.active {
  height: 50px;
}

.btn-confirm:hover {
  cursor: pointer;
  background: $clr-darker;
}

.clicked {
  animation: click 0.2s linear;
  -webkit-animation: click 0.2s linear;
}

.shake {
  animation: shake 0.1s linear;
  animation-iteration-count: infinite;
  -webkit-animation: shake 0.1s linear;
}

@keyframes shake {
  0% {
    left: 0;
  }

  33% {
    left: -3px;
  }

  66% {
    left: 3px;
  }

  100% {
    left: 0;
  }
}

@keyframes click {
  0% {
    box-shadow: none;
    opacity: 1;
  }

  50% {
    box-shadow: inset 0px 0px 5px $clr-medium;
    opacity: 0.9;
  }

  100% {
    box-shadow: none;
    opacity: 1;
  }
}
